body {
    background-color: lightblue;
    padding: 20px;
}
#search-content {
    width: 75%;
    float: left;
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
}
.author-names {
    width: 50%;
}